{%if package%}<html><head><title>Links for {{ package.name }}</title></head><body><h1>Links for {{ package.name }}</h1>
{% for r in package.sorted_releases %}
    {% for f in r.files -%}
        {% if whlify %}
            {% if f.package_type == 'sdist' -%}
            <a href="{{ route_url('show_release_file', file_id=f.id, filename=f.filename_whlified)
                     }}">{{f.filename_whlified}}</a><br/>
            {%- endif -%}
        {%- else -%}
            <a href="{{ route_url('show_release_file', file_id=f.id, filename=f.filename)
                     }}">{{f.filename}}</a><br/>
        {% endif -%}
    {% endfor -%}
    {% if not r.files %}
        {% if r.download_url_file and r.download_url_file != 'UNKNOWN'  %}

            {% if whlify and r.can_download_url_whl -%}
    <a href="{{ route_url('show_external_release_file', release_id=r.id, filename=r.whlify_download_url_file)
             }}" rel="download">{{ r.whlify_download_url_file }} </a><br/>
            {%- else -%}
    <a href="{{ route_url('show_external_release_file', release_id=r.id, filename=r.download_url_file)
             }}" rel="download">{{ r.download_url_file }} </a><br/>
            {% endif -%}
        {% endif %}
    {% endif %}
{% endfor %}
</body></html>{% else %}Not found, ({{package_name}} does not have any release){% endif %}
